absl-py
astroid
asttokens
astunparse
bcrypt
bleach
blinker
branca
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
Cython
debugpy
decorator
dill
EMD-signal
et-xmlfile
executing
Flask
Flask-Bcrypt
Flask-SQLAlchemy
flatbuffers
folium
fonttools
gast
google-pasta
greenlet
grpcio
gunicorn
h5py
idna
imbalanced-learn
imblearn
ipykernel
ipython
isort
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kaggle
keras
kiwisolver
libclang
lightgbm
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdurl
ml-dtypes
mlxtend
multiprocess
namex
nest-asyncio
numpy
openpyxl
opt-einsum
optree
packaging
pandas
parso
pathos
Pillow
platformdirs
pox
ppft
prompt-toolkit
protobuf
psutil
psycopg2-binary
pure-eval
Pygments
pylint
pyparsing
python-dateutil
python-slugify
pytz
pyzmq
requests
rich
scikit-learn
scipy
seaborn
setuptools
six
SQLAlchemy
stack-data
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
text-unidecode
threadpoolctl
tomlkit
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
wcwidth
webencodings
Werkzeug
wheel
wrapt
xgboost
xyzservices
huggingface_hub